#!/usr/bin/env python
PACKAGE = "k_nearest"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("distance_difference",    int_t,    0, "Distance difference to configure cut off before adjusting multiplier", 1000,  0, 10000)


exit(gen.generate(PACKAGE, "k_nearest_wilson", "k_nearest_config"))
